*.*
*
*.dot
*.vcd
!*/
!Makefile
!*.mk
!*.[cSh]
!*.v
!*.vh
!*.sv
!*.svh
!*.cc
!*.cpp
!.gitignore
!README.md
!Kconfig
!configs/*
!scripts/*.sh
build/
tmp/
/obj_dir
/include/config
/include/generated
/vsrc/generated
